sudo apt-get install gfortran libblas-dev liblapack-dev m4
git clone https://github.com/Goddard-Fortran-Ecosystem/pFUnit.git
cd pFUnit
mkdir build
cd build
cmake .. -DSKIP_MPI=yes -DSKIP_OPENMP=yes
make tests
make install

